/* Reset */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

/* Navbar */
.navbar{
    background:#0d47a1;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 40px;
}

/* Logo */
.logo{
    color:white;
    font-size:24px;
    font-weight:bold;
}

/* Menu */
.menu{
    list-style:none;
    display:flex;
    gap:25px;
}

.menu a{
    color:white;
    text-decoration:none;
    font-size:18px;
    transition:0.3s;
}

.menu a:hover{
    color:#ffeb3b;
}

/* Mobile View */
@media(max-width:768px){

    .navbar{
        flex-direction:column;
        align-items:stretch;
    }

    .logo{
        text-align:center;
        margin-bottom:10px;
    }

    .menu{
        flex-direction:column;
        gap:0;
    }

    .menu li{
        width:100%;
    }

    .menu a{
        display:block;
        text-align:center;
        padding:12px;
        border-top:1px solid rgba(255,255,255,0.2);
    }
}